a {
	background-color: transparent;
}

#game {
	text-align: center;
}

h1 {
	letter-spacing: 15px;
}

#image {
	max-height: 400px;
	max-width: 90%;
	margin-left: 7%;
}

li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
}

#logo {
	max-width: 50px
}

#main-content {
	margin-top: 5%;
	text-align: center;
}