a {
	background-color: transparent;
}

#game {
	text-align: center;
}

h4 {
	letter-spacing: 15px;
}

img#image {
	max-height: 100%;
	max-width: 30%;
	position: center;
}

li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
}

#logo {
	max-width: 50px
}

#main-content {
	margin-top: 5%;
	text-align: center;
}