.logo {
	margin-top: 5px;
	max-height: 50px;
	max-width: 50px;
	border: 2px solid gray;
	border-radius: 25%;
}

#image {
	max-height: 400px;
	max-width: 90%;
	position: center;
}

h1 {
	letter-spacing: 15px;
}

#game {
	text-align: center;
}

li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
}

.navline {
	max-height: 60px;
}